n8n/workflows/email-sequence.json
{
  "name": "Email Sequence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-sequence",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "webhook-email",
      "name": "Webhook — Start Email Sequence",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json.lead;\nconst sequenceType = $input.first().json.sequenceType || 'cold_outreach';\n\nconst templates = {\n  cold_outreach: {\n    subject: `Quick question about ${lead.companyName}`,\n    body: `Hi ${lead.contactName || 'there'},\\n\\nI noticed ${lead.companyName} and wanted to reach out about how we help businesses like yours automate lead generation and outreach.\\n\\nWould you be open to a 15-minute call this week?\\n\\nBest,\\nAiGateway Team`\n  }\n};\n\nconst template = templates[sequenceType] || templates.cold_outreach;\n\nreturn [{ json: { lead, ...template, sequenceType } }];"
      },
      "id": "generate-email",
      "name": "Generate Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, emailGenerated: true, leadId: $json.lead.id }) }}"
      },
      "id": "respond-email",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook — Start Email Sequence": {
      "main": [[{ "node": "Generate Email Content", "type": "main", "index": 0 }]]
    },
    "Generate Email Content": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "email" }]
}
