n8n/workflows/resume_upload.json
{
  "id": "3Jxy2Gvm0Ry6FEWy",
  "name": "Smart Apply - Resume Upload & Parsing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-upload",
        "responseMode": "responseNode",
        "responseData": "allEntries",
        "options": {},
        "webhookId": "3Jxy2Gvm0Ry6FEWy"
      },
      "id": "e0a0d0a1-4321-4b11-a889-111111111111",
      "name": "webhook-trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        80,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "let pdfLocation = $json.body.pdfLocation || '';\n\n// If Google Drive link, convert to direct download URL\nif (pdfLocation.includes('drive.google.com')) {\n  let fileId = '';\n  const fileDMatch = pdfLocation.match(/\\/file\\/d\\/([a-zA-Z0-9_-]+)/);\n  if (fileDMatch && fileDMatch[1]) {\n    fileId = fileDMatch[1];\n  } else {\n    const idParamMatch = pdfLocation.match(/[?&]id=([a-zA-Z0-9_-]+)/);\n    if (idParamMatch && idParamMatch[1]) {\n      fileId = idParamMatch[1];\n    }\n  }\n\n  if (fileId) {\n    pdfLocation = `https://drive.google.com/uc?export=download&id=${fileId}`;\n  }\n}\n\nreturn {\n  pdfLocation\n};"
      },
      "id": "e0a0d0a1-4321-4b11-a889-777777777777",
      "name": "Resolve PDF URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        250
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.pdfLocation }}",
        "responseFormat": "file",
        "options": {}
      },
      "id": "e0a0d0a1-4321-4b11-a889-222222222222",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "onError": "continueRegularOutput",
      "position": [
        400,
        250
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "e0a0d0a1-4321-4b11-a889-888888888888",
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        250
      ],
      "webhookId": "rate-limit-wait-resume"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{ $env.GEMINI_API_KEY || 'AIzaSyPlaceholder' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        { \"text\": \"Please parse this resume PDF and return a structured JSON profile with: primaryRole (string), secondaryRoles (array of strings), skills (array of strings), experience (string), projects (array of objects with name, description, techStack), education (array of objects with institution, degree, fieldOfStudy, endYear), certifications (array of strings), technologies (array of strings), and atsKeywords (array of strings). Return ONLY the JSON object conforming to this schema, without markdown formatting.\" },\n        {\n          \"inlineData\": {\n            \"mimeType\": \"application/pdf\",\n            \"data\": \"{{ $binary.data ? $binary.data.data : '' }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\"\n  }\n}",
        "options": {
          "retryOnFail": true,
          "maxRetries": 3,
          "waitBetweenRetries": 3000
        }
      },
      "id": "e0a0d0a1-4321-4b11-a889-333333333333",
      "name": "Gemini AI Parse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "onError": "continueRegularOutput",
      "position": [
        620,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "let parsedData;\ntry {\n  const status = $json.status;\n  const message = $json.message || '';\n  if (status === 401 || status === 403) {\n    throw new Error('Invalid API Key');\n  }\n  if (status === 400) {\n    throw new Error('Invalid Prompt or Model Arguments');\n  }\n  if (status === 429) {\n    throw new Error('AI Request failed: Rate limit or daily quota exceeded (429)');\n  }\n  if (status && status !== 200) {\n    throw new Error(`AI Request failed with status ${status}: ${message}`);\n  }\n\n  const responseText = $json.candidates?.[0]?.content?.parts?.[0]?.text;\n  if (!responseText) {\n    throw new Error('Gemini API returned an empty or malformed response structure.');\n  }\n  parsedData = JSON.parse(responseText);\n  \n  return {\n    success: true,\n    resumeProfile: parsedData\n  };\n} catch (e) {\n  return {\n    success: false,\n    error: e.message || 'An unexpected error occurred during resume parsing.'\n  };\n}"
      },
      "id": "e0a0d0a1-4321-4b11-a889-444444444444",
      "name": "Validate & Map Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        250
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "e0a0d0a1-4321-4b11-a889-555555555555",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        940,
        250
      ]
    }
  ],
  "connections": {
    "webhook-trigger": {
      "main": [
        [
          {
            "node": "Resolve PDF URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve PDF URL": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Wait": {
      "main": [
        [
          {
            "node": "Gemini AI Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI Parse": {
      "main": [
        [
          {
            "node": "Validate & Map Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Map Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}
