n8n/workflows/whatsapp-followup.json
{
  "name": "WhatsApp Follow-up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-followup",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "webhook-wa",
      "name": "Webhook — WhatsApp Follow-up",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconsole.log('WhatsApp follow-up triggered for:', data.leadId);\nreturn [{ json: { received: true, leadId: data.leadId, message: 'WhatsApp follow-up placeholder — Phase 10 will add actual WhatsApp integration' } }];"
      },
      "id": "process-wa",
      "name": "Process Follow-up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true }) }}"
      },
      "id": "respond-wa",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook — WhatsApp Follow-up": {
      "main": [[{ "node": "Process Follow-up", "type": "main", "index": 0 }]]
    },
    "Process Follow-up": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "whatsapp" }]
}
